import todo

placeholder = todo.PlaceholderExpression()

x = 1
if placeholder.y != 2:
    print('No, set y to x + 1')

x = 2
if placeholder.y == 3:
    print('Good!')
else:
    print('y is not x + 1')
    print('Instead, y is {}'.format(placeholder.y))
