import todo

print('Test case: fill "x + 1"')

x = 1
if todo.set_placeholder(')))') != 2:
    print('No, set y to x + 1')

x = 2
if todo.set_placeholder(')))') == 3:
    print('Good!')
else:
    print('y is not x + 1')
    print('Instead, y is {}'.format(todo.set_placeholder(')))')))
